<%- include("../layout/header"); -%>
<main>
    <div class="container" style="position: absolute;">
        <div class="center">
            <div class="error">
                <h1>Error!</h1>
                <p><%= error %></p>
                <a href="/" class="button">Go Back</a>
            </div>
        </div>
    </div>
</main>
<%- include("../layout/footer"); -%>