<%- include("../layout/header"); -%>
<main>
    <div class="container" style="position: absolute;">
        <div class="center">
            <div class="error">
                <h1>Internet Explorer is not supported!</h1>
                <p>Please use Chrome or Firefox!</p>
            </div>
        </div>
    </div>
</main>
<%- include("../layout/footer"); -%>